@import "tailwindcss";
@plugin "flyonui" {
  themes: black --default;
}
@import "flyonui/variants.css";
@source "./node_modules/flyonui/flyonui.js"; 

:root {
    background-color: black;
    color: oklch(97% 0.014 254.604);
}

html {
  scroll-behavior: smooth;
}

a.effect-shine:hover {
    mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.6) 30%,
        #000 50%,
        rgba(0, 0, 0, 0.6) 70%
    );
    mask-size: 200%;
    animation: shine 2s infinite;
}

@keyframes shine {
    from {
        mask-position: 150%;
    }
    
    to {
        mask-position: -50%;
    }
}
